.env
.byebug_history
bin/
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.DS_Store
.rspec
__MACOSX/
vendor/gems
db/*.bak
/app/views/.DS_Store
/logfile
.idea
.ruby-gemset
ssl/
scratchpad/
node_modules/
dump.rdb
npm-debug.log
x.rb
seeds/
config/master.key